# Exercise 2: Create markdown cell with title of the notebook

<h1>Data Science Tools and Ecosystem</h1>

# Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

# Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
<ol> 
    <li>Python</li>
    <li>JS</li>
    <li>R</li>
    <li>JAVA</li>
</ol>

# Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
<ol> 
    <li>Scikit-learn</li>
    <li>Pandas</li>
    <li>Numpy</li>
    <li>Seaborn</li>
</ol>

# Exercise 6 - Create a markdown cell with a table of Data Science tools

<table>
    <tr><th>Data Science Tools</th></tr>
    <tr><td>IBM Watson Studio</td></tr>
    <tr><td>Apache Spark</td></tr>
    <tr><td>Orange3</td></tr>
</table>

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [18]:
base = 10
height = 9
area = 0.5 * 10 * 9
print(area)

45.0

# Exercise 8 - Create a code cell to multiply and add numbers

In [19]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

# Exercise 9 - Create a code cell to convert minutes to hours

In [20]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# Exercise 10 - Insert a markdown cell to list Objectives

<b>Objectives:</b>
<ul> 
    <li>List popular languages for Data Science</li>
    <li>List popular libraries for Data Science</li>
    <li>Create table</li>
    <li>arithmetic expressions in Python</li>
</ul>

# Exercise 11 - Create a markdown cell to indicate the Author's name

<h2>Author</h2>
Md Arifuzzaman Munaf